@page
@model ParcelDelivery.Areas.Identity.Pages._403.DeniedModel
@{
}
<div>
    <h1>403 - Access denied due to insufficient privilege</h1>
    <p>
        <a href="/">Return to homepage</a>
    </p>
</div>
