@page

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/search.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/83d17be2c0.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="~/js/mainfunction.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 550px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

       
    </style>
</head>

<body>
    <div id="wrapper">
        <ul class="sidebar navbar-nav">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/search">

                <div class="sidebar-brand-text mx-auto">
                    Wellcome!
                    <br />
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Admin
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/admin/search">
                    <i class="fa fa-search"></i>
                    <span>Search routes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/admin/statistics">
                    <i class="fa fa-address-card"></i>
                    <span>Statistics</span>
                </a>
            </li>
            <button class="nav-item dropdown-btn" style="background-color: rgba(0,29,65); color: white">
                <i class="fa fa-folder" style="padding-right: 10px;"></i>Data management <i class="fa fa-caret-down" style="padding-left: 10px;"></i>
            </button>
            <div class="dropdown-container">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/location" style="padding: 10px !important;">
                        <span> <i class="fas fa-dice-d20" style="padding-right: 10px;"></i>Cities </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/segment" style="padding: 10px !important;">
                        <span> <i class="fas fa-dice-d20" style="padding-right: 10px;"></i>Segments </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/parcel" style="padding: 10px !important;">
                        <span> <i class="fas fa-dice-d20" style="padding-right: 10px;"></i>Parcel </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/price" style="padding: 10px !important;">
                        <span> <i class="fas fa-dice-d20" style="padding-right: 10px;"></i>Price </span>
                    </a>
                </li>
            </div>
            <li class="nav-item">
                <a class="nav-link active" href="/admin/user">
                    <i class="fa fa-address-card"></i>
                    <span>User management</span>
                </a>
            </li>

            <li class="nav-item">
                <button class="btn"
                        style="background-color: transparent; position:absolute; padding-left: 50px;bottom: 0; color: white;">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </li>
            <div>

            </div>
        </ul>

        <!-- Content of page-->
        <div id="content-wrapper">

            <div id="content">
                <div class="container">
                    <br />
                    <br />
                    <div class="">
                        <h1>User Management</h1>
                        <br/>
                        <h5><i>All users is listed as below</i></h5>
                    </div>
                    <div class="card box border-0">
                        <div class="row">
                            <table id="userTable" class="display" style="width:100%" class="display">
                                <thead style="background-color: rgba(0,29,65,1); color: white;">
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Role</th>
                                        <th><button class="btn" style="background-color: white; border-radius: 15px;"><i class='fa fa-plus'></i></button></th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>

    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>

    <script>
        var cityTable = $('#userTable').DataTable({
            "columnDefs": [
                {
                    "className": "text-center",
                    "targets": -1,
                    "data": null,
                    "searchable": false,
                    "orderable": false,
                    "defaultContent": "<button class='btn btn-danger'><i class='fa fa-trash'></i></button>"
                }
            ],
            "info": true,         // Will show "1 to n of n entries" Text at bottom
            "lengthChange": false // Will Disabled Record number per page
        });
        var loadData = {
            data: []
        };
        $.ajax({
            url: "/api/Account",
            contentType: "application/json",
            success: function (result) {
                loadData.data = result;
                cityTable.clear();
                cityTable.rows.add(convertUserToDataTable(result)).draw();
            }
        });
       
        
    </script>
</body>

</html>